
.site-header {
  background: $color-background--header;
  margin: 0 auto;
  padding: 1.25rem 0;
  width: 100%;
}

.site-header__inner {
  margin: 0 auto;
  max-width: $max-width--body;
  width: 90%;
}

.site-header__info {
  width: 100%;
}

.site-nav {
  margin: 2rem auto 0 auto;
}

.site-title,
.site-description {
  font-size: 1.5rem;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.site-description {
  font-size: 1.125rem;
  font-style: italic;
}