.post-list__item + .post-list__item {
  margin-top: 4.5rem;
}

.post__title {
  @extend %h2;
  font-style: italic;
  margin-bottom: 1.75rem;

  a {
    border-bottom: 2px solid black;
    color: inherit;
    display: inline-block;
    text-decoration: none;
  }
}